[FORMAT]

# 1. Methodennamen sollen CamelCase sein
method-naming-style=camelCase

# 2. Argumentnamen sollen CamelCase sein
argument-naming-style=camelCase

# 3. Variablennamen sollen CamelCase sein
variable-naming-style=camelCase

# 4. Attributnamen sollen CamelCase sein
attr-naming-style=camelCase

# 5. Klassennamen sollen PascalCase sein
class-naming-style=PascalCase


